<div class="p-grid">
  <div class="p-col">
    <app-duties-list 
      [duties]="duties"
      (selected)="selectDuty($event)"
      (deleted)="delete($event)"
    >
    </app-duties-list>
  </div>
  <div class="p-col">
    <app-duty-details
      [currentDuty]="currentDuty"
      [optionsFrequency]="optionsFrequency"
      [optionsFrequencyUnit]="optionsFrequencyUnit"
      [date]="date"
      (saved)="saveDuty(currentDuty)"
      (canceled)="cancel()"
      (dateUpdated)="updateDate($event)"
    >
    </app-duty-details>
  </div>
</div>




