<h5>Basic</h5>
<div class="grid">
  <div class="col">
    <p-card header="List of all duties">
      <p-table [value]="duties">
        <ng-template pTemplate="body" let-duty>
          <tr>
              <td>
                <p class="p-text-bold">{{duty.title}}</p>
                <p>
                  <i class="pi pi-calendar"></i> &nbsp; 
                  {{ duty.dateStart | date }} &nbsp; 
                  <span *ngIf="duty.frequencyNumber"><i class="pi pi-replay"></i></span>
                </p>
              </td>
          </tr>
      </ng-template>

      </p-table>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Add new">
      Content
    </p-card>
  </div>
</div>




